{% extends 'academics/base.html' %}
{% block title %}Add Grade{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h4 class="mb-4">Add Grade</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Enrollment</label>
                    {{ form.enrollment }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Assessment Type</label>
                    {{ form.assessment_type }}
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label">Score</label>
                        {{ form.score }}
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label">Max Score</label>
                        {{ form.max_score }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-2">Save Grade</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}