{% extends 'academics/base.html' %}
{% block title %}Teacher Dashboard{% endblock %}
{% block content %}
    <h2>Welcome, {{ teacher.user.first_name }}</h2>
    <p class="text-muted">Department: {{ teacher.department }}</p>

    <h4 class="mt-4">Your Courses</h4>
    <div class="row">
        {% for data in course_data %}
        <div class="col-md-6 mb-3">
            <div class="card p-3">
                <h5>{{ data.course.code }} - {{ data.course.name }}</h5>
                <p>Students Enrolled: {{ data.student_count }}</p>
                <p>Average Score: {{ data.avg_score }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}