{% extends 'academics/base.html' %}
{% block title %}Delete{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h4>Delete Confirmation</h4>
            <p>Are you sure you want to delete "{{ object }}"? This cannot be undone.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}