{% extends 'academics/base.html' %}
{% block title %}Manage Data{% endblock %}
{% block content %}
<h2>Manage Data</h2>
<div class="row mt-4 g-3">
    <div class="col-md-4"><a href="{% url 'manage_students' %}" class="text-decoration-none"><div class="card p-4 text-center"><h5>Students</h5></div></a></div>
    <div class="col-md-4"><a href="{% url 'manage_teachers' %}" class="text-decoration-none"><div class="card p-4 text-center"><h5>Teachers</h5></div></a></div>
    <div class="col-md-4"><a href="{% url 'manage_courses' %}" class="text-decoration-none"><div class="card p-4 text-center"><h5>Courses</h5></div></a></div>
    <div class="col-md-4"><a href="{% url 'manage_enrollments' %}" class="text-decoration-none"><div class="card p-4 text-center"><h5>Enrollments</h5></div></a></div>
    <div class="col-md-4"><a href="{% url 'manage_grades' %}" class="text-decoration-none"><div class="card p-4 text-center"><h5>Grades</h5></div></a></div>
    <div class="col-md-4"><a href="{% url 'manage_attendance' %}" class="text-decoration-none"><div class="card p-4 text-center"><h5>Attendance</h5></div></a></div>
</div>
{% endblock %}